


.App
{
  display: grid;
  /* grid-template-rows: 0.5fr 2fr 0.5fr; */
  grid-template-columns: 0.5fr 2fr 0.3fr;
}

.chatInterface
{
  grid-row: 2;
  grid-column: 2;
}

#chat {
  max-height: calc(100vh - 128px);
  overflow: scroll;
  padding: 16px;
}

.name {
  color: rgba(0, 0, 0, 0.54);
}

.content {
  margin-bottom: 8px;
}
/* 
.typing{
    padding-left: "4.3%";
    margin-top: "-0.5%";
    font-size: "80%"
} */

#imageChat{
  width: 60vh;
}

#videoChat{
  width: 60vh;
}

@media only screen and (max-device-width:680px) {
  #imageChat{
    width: 50vh;
  }
  
  #videoChat{
    width: 50vh;
  }

  .App
  {
    display: grid;
    /* grid-template-rows: 0.5fr 2fr 0.5fr; */
    grid-template-columns: 0.3fr 2fr 0.1fr;
  }

}

@media only screen and (max-device-width:525px) {
  #imageChat{
    width: 30vh;
  }
  
  #videoChat{
    width: 30vh;
  }

  .App
  {
    display: grid;
    /* grid-template-rows: 0.5fr 2fr 0.5fr; */
    grid-template-columns: 0.4fr 2fr 0.1fr;
  }

}


@media only screen and (max-device-width:410px) {
  #imageChat{
    width: 30vh;
  }
  
  #videoChat{
    width: 30vh;
  }

  .App
  {
    display: grid;
    /* grid-template-rows: 0.5fr 2fr 0.5fr; */
    grid-template-columns: 0.5fr 2fr 0.1fr;
  }

}

@media (prefers-color-scheme: dark) {
  /* body
  {
    filter: invert(1);
  } */

  body
  {
    background-color: #202225;
    
  }

  #chat
  {
    background-color: #36393f;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
  }

  .name{
    color: #ffffff;
  }

  .content{
    color: #b9bbbe;
  }


}

.name-dark
{
  color: #ffffff;
}

.content-dark{
  color: #b9bbbe;
}

.rainbowEasterEgg{
  background-color: #FF0000;
  animation: RGBWhiteMode 5s infinite linear;
}
@keyframes RGBWhiteMode {
  12.5% {
    background-color: #B03A2E;
    }
    25% {
    background-color: #AF601A;
    }
    37.5% {
    background-color: #B7950B;
    }
    50% {
    background-color: #239B56;
    }
    62.5% {
    background-color: #2874A6;
    }
    75% {
    background-color: #1F618D;
    }
    87.5% {
    background-color: #6C3483;
    }
    100% {
    background-color: #95007C;
    }
}